{% extends 'base.html' %}
{% load static %}
{% block content%}
{{block.super}}
<div class="row" style="font-family: 'PT Sans Narrow', sans-serif;">
  <div class="col-md-2"></div>
  <div class="col-md-6">
    {% for i in post %}
    <div class="card" style="margin-bottom: 60px;">
      <div class="card-header">
        <a href="{% url 'Profile' %}" class="heading" style="font-size: 35px;">{{i.posted_by}}</a>
      </div>
      <div class="card-body">
        <img class="card-img" src="{{i.image.cdn_url}}" alt="{{i.name}}" style="height: 600px; margin: 0;">
        <p class="card-text" style="margin-top: 10px;">{{i.caption}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="col-md-4"></div>
</div>
{% endblock%}