{% extends 'base.html' %}
{% block content %}

<h1>Welcome to InstaClone.</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum, temporibus commodi, in consectetur quod amet illo,
  libero delectus est culpa aliquid sint mollitia nihil! Rerum nobis quisquam ipsum debitis est.</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum expedita non ducimus aliquid, eius cupiditate ipsa
  inventore numquam temporibus? Assumenda culpa earum tenetur odit sunt architecto odio perferendis praesentium qui?
  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi labore fugiat ipsa et consequuntur voluptates aperiam,
  eligendi illum pariatur amet, ad sequi tenetur dolorem quidem quas nam doloribus error mollitia?</p>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit nulla ad aperiam incidunt tenetur debitis ducimus
  voluptas iste iure! Quaerat vel eius nostrum eum aliquam voluptates distinctio ducimus ipsa laudantium!
</p>
{% endblock %}